.App {
  text-align: center;
} 
.container{margin-top: 74px;}
.maindiv{ background-color: #f5f3f3; padding-bottom: 86px; }

 nav {
 display:flex;
 justify-content: space-around;
 align-items: center;
 min-height: 10vh;
 height: 60px;
 border-radius: 17px;
 position: relative;
 bottom: 664px;
 background: rgb(13, 193, 193)!important;
 color: white;
}
.navbar button{ color: white; font-weight: bold; background-color:rgb(13, 193, 193) ; }
.navbar-nav{  margin-left: 27%; font-weight: 700;}
.navimg{width: 100%;}

.navbar-light .navbar-nav .nav-link {
  color: rgb(245, 245, 245); padding-left: 25px;
}
.content{ margin: 0 57px; font-weight: 700; font-size: larger;    margin-top: 72px;
}
.mr-3{ border-radius: 11px; width: 71%; }
.solimg{height: 95px; width: 95px; border-radius: 9px;}
/* .bgimg{ background-image: url(images/woman-discussing-a-lesson-3758869.jpg); } */
.card{border-radius: 11px!important;}
.card-img-top{ padding: 17px; border-radius: 22px; height: 154px; }
.card-body img{margin-top: 9px; border-radius: 21px; margin-left: -6px; width: 41px !important; }
.input-group textarea { padding: 10px; margin-left: -18px; }
footer{  background: rgb(13, 193, 193)!important; margin-top: -74px; color: white; font-weight: 500; }
footer .container{ padding: 55px; }
footer li{ list-style: none; } 
footer .row{ margin-bottom: 50px;}
footer input{ border: none; width: 86%; text-align: center; border-radius: 10px; font-weight: 500; padding: 7px; }
footer button{ background-color: white; border: none; color: black; font-weight: 600; margin-left: -129px; border-radius: 7px; }
.subscribe{ text-align: initial; }
.subscribe p:first-child{ margin-bottom: -5px; }
form{ text-align: initial;}
form input{ margin-top: -6px; height: 33px; }
.stepdiv{ background-color: #f5f3f3ea; }
.stepdiv .container{ padding: 80px; margin-bottom: 70px;}
.stepdiv .row{ padding: 51px; background-color: white; border-radius: 17px;margin:60px 0 0 102px;width: 80%;box-shadow: 2px -1px 22px 5px #c7c7c7;}
.stepdiv .profile{ margin-left: -57px; margin-top: -57px; max-width: 0px; }
.stepdiv .btn{ margin-left: 48%; width: 130px; background-color: rgb(13, 193, 193); border: none; font-weight: 700; border-radius: 10px; }
.stepdiv .step2 .form-control{ width:194% !important;}
.stepdiv .form-check{ border: 1px solid gray; width: 174%; padding: 9px 0 9px 45px;}
.stepdiv input[type=radio] { margin-top: -3px; width: 16px; }
.stepdiv h2{ letter-spacing: -1px; font-size: 28px;}
.stepdiv.step3btn{margin-top: 68%;}
.stepdiv .btn:hover{ background-color: rgb(13, 193, 193);}
.patientrow .row{     /* border: 1px solid; */
  padding: 13px;
  border-radius: 12px;
  margin-left: 30%;
  margin-right: 30%;
  /* margin-top: -7%; */
  background-color: #e8e5e5;
  position: relative;
  bottom: 447px; }
.patientrow .mr-3{ width: 78px; height: 78px; background-color: white; padding: 11px; }
.patientrow input{ width: 100%; border-radius: 14px; border: none; padding: 10px; text-align: center; }
.patientrow .boximg img{    background: white;
  /* border: 1px solid; */
  vertical-align: middle;
  border-style: none;
  width: 81px;
  border-radius: 14px;
  padding: 6px;}